$tablet-max: 768px;
$phone-max: 544px;
$tablet-min: $phone-max + 1;
$desktop-min: $tablet-max + 1;

$only-desktop: "screen and (min-width : " + $desktop-min + ")";
$only-tablet: "screen and (min-width: " + $tablet-min + ") and (max-width: " + $tablet-max+ ")";
$only-phone: "screen and (max-width : " + $phone-max + ")";
$desktop-and-tablet: "screen and (min-width: " + $tablet-min + ")";
$phone-and-tablet: "screen and (max-width : " + $tablet-max + ")";

$desktop-prefix: "des-";
$tablet-prefix: "tab-";
$phone-prefix: "mob-";

%desktop {
  @media #{$phone-and-tablet} {
    display: none;
  }
}

%desktop-tablet {
  @media #{$only-phone} {
    display: none;
  }
}

%mobile {
  @media #{$desktop-and-tablet} {
    display: none;
  }
}

%mobile-tablet {
  @media #{$only-desktop} {
    display: none;
  }
}

%tablet {
  @extend %mobile-tablet;
  @extend %desktop-tablet;
}

@mixin mediaOrNot($media: null) {
  @if ($media) {
    @media #{$media} {
      @content;
    }
  }
  @else {
    @content;
  }
}

@mixin horiz($media: null) {
  @include mediaOrNot($media) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    * {
      flex-shrink: 0;
    }
  }
}

@mixin verti($media: null) {
  @include mediaOrNot($media) {
    display: flex;
    flex-direction: column;
    * {
      flex-shrink: 0;
    }
  }
}

@mixin nowrap($media: null) {
  @include mediaOrNot($media) {
    flex-wrap: nowrap;
  }
}

@mixin items-start($media: null) {
  @include mediaOrNot($media) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
  }
}

@mixin items-start-center($media: null) {
  @include mediaOrNot($media) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
}

@mixin items-start-end($media: null) {
  @include mediaOrNot($media) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

@mixin items-center-start($media: null) {
  @include mediaOrNot($media) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

@mixin items-center($media: null) {
  @include mediaOrNot($media) {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

@mixin items-center-end($media: null) {
  @include mediaOrNot($media) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

@mixin items-end-start($media: null) {
  @include mediaOrNot($media) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

@mixin items-end-center($media: null) {
  @include mediaOrNot($media) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@mixin items-end($media: null) {
  @include mediaOrNot($media) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
  }
}

@mixin items-horiz-space-around($media: null) {
  @include mediaOrNot($media) {
      display: flex;
      justify-content: space-around;
  }
}

@mixin items-horiz-space-between($media: null) {
  @include mediaOrNot($media) {
      display: flex;
      justify-content: space-between;
  }
}

@mixin items-verti-space-around($media: null) {
  @include mediaOrNot($media) {
      display: flex;
      align-items: space-around;
  }
}

@mixin items-verti-space-between($media: null) {
  @include mediaOrNot($media) {
      display: flex;
      align-items: space-between;
  }
}

@mixin self-start($media: null) {
  @include mediaOrNot($media) {
    align-self: flex-start;
  }
}

@mixin self-end($media: null) {
  @include mediaOrNot($media) {
    align-self: flex-end;
  }
}

@mixin self-center($media: null) {
  @include mediaOrNot($media) {
    align-self: center;
  }
}

@mixin self-baseline($media: null) {
  @include mediaOrNot($media) {
    align-self: baseline;
  }
}

@mixin w-auto($media: null) {
  @include mediaOrNot($media) {
    display: inline-block;
  }
}

@mixin h-auto($media: null) {
  @include mediaOrNot($media) {
    flex-basis: auto;
  }
}

@mixin text-center($media: null) {
  @include mediaOrNot($media) {
    text-align: center;
  }
}

@mixin text-left($media: null) {
  @include mediaOrNot($media) {
    text-align: left;
  }
}

@mixin text-right($media: null) {
  @include mediaOrNot($media) {
    text-align: right;
  }
}

@mixin text-justify($media: null) {
  @include mediaOrNot($media) {
    text-align: justify;
  }
}

@mixin scroll($media: null) {
  @include mediaOrNot($media) {
    overflow: scroll;
  }
}

@mixin x-scroll($media: null) {
  @include mediaOrNot($media) {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

@mixin y-scroll($media: null) {
  @include mediaOrNot($media) {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@mixin truncate($media: null) {
  @include mediaOrNot($media) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin relative($media: null) {
  @include mediaOrNot($media) {
    position: relative;
    width: 0;
    height: 0;
    
    > * {
      position: absolute;
    }
  }
}

@mixin absolute($media: null) {
  @include mediaOrNot($media) {
    position: absolute;
  }
}

@mixin fixed($media: null) {
  @include mediaOrNot($media) {
    position: fixed;
  }
}

@mixin w-window($media: null) {
  @include mediaOrNot($media) {
    width: 100vw;
  }
}

@mixin h-window($media: null) {
  @include mediaOrNot($media) {
    height: 100vh;
  }
}

@mixin w-full($media: null) {
  @include mediaOrNot($media) {
    width: 100%;
  }
}

@mixin h-full($media: null) {
  @include mediaOrNot($media) {
    height: 100%;
  }
}








@mixin weight($i, $media: null) {
  @include mediaOrNot($media) {
    flex-grow: $i;
    flex-shrink: unset;
    flex-basis: 0;
  }
}
  
@mixin w($i, $media: null) {
  @include mediaOrNot($media) {
    width: #{$i}px;
  }
}
  
@mixin h($i, $media: null) {
  @include mediaOrNot($media) {
    height: #{$i}px;
  }
}
  
@mixin max-w($i, $media: null) {
  @include mediaOrNot($media) {
    max-width: #{$i}px;
  }
}
  
@mixin max-h($i, $media: null) {
  @include mediaOrNot($media) {
    max-height: #{$i}px;
  }
}
  
@mixin min-w($i, $media: null) {
  @include mediaOrNot($media) {
    min-width: #{$i}px;
  }
}
  
@mixin min-h($i, $media: null) {
  @include mediaOrNot($media) {
    min-height: #{$i}px;
  }
}
  
@mixin m($i, $media: null) {
  @include mediaOrNot($media) {
    margin: #{$i}px
  }
}
  
@mixin p($i, $media: null) {
  @include mediaOrNot($media) {
    padding: #{$i}px
  }
}
  
@mixin top($i, $media: null) {
  @include mediaOrNot($media) {
    top: #{$i}px
  }
}
  
@mixin right($i, $media: null) {
  @include mediaOrNot($media) {
    right: #{$i}px
  }
}
  
@mixin bottom($i, $media: null) {
  @include mediaOrNot($media) {
    bottom: #{$i}px
  }
}
  
@mixin left($i, $media: null) {
  @include mediaOrNot($media) {
    left: #{$i}px
  }
}
  
@mixin line-h($i, $media: null) {
  @include mediaOrNot($media) {
    line-height: #{$i}px;
  }
}

@mixin x-gutter($i, $media: null) {
  @include mediaOrNot($media) {
    > *:not(:last-child) {
      margin-right: #{$i}px;
    }
  }
}

@mixin y-gutter($i, $media: null) {
  @include mediaOrNot($media) {
    > *:not(:last-child) {
      margin-bottom: #{$i}px;
    }
  }
}







@mixin mx($i, $media: null) {
  @include mediaOrNot($media) {
    margin-left: #{$i}px;
    margin-right: #{$i}px
  }
}
  
@mixin my($i, $media: null) {
  @include mediaOrNot($media) {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px
  }
}
  
@mixin px($i, $media: null) {
  @include mediaOrNot($media) {
    padding-left: #{$i}px;
    padding-right: #{$i}px
  }
}
  
@mixin py($i, $media: null) {
  @include mediaOrNot($media) {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
}







@mixin mt($i, $media: null) {
  @include mediaOrNot($media) {
    margin-top: #{$i}px;
  }
}
  
@mixin mr($i, $media: null) {
  @include mediaOrNot($media) {
    margin-right: #{$i}px;
  }
}
  
@mixin mb($i, $media: null) {
  @include mediaOrNot($media) {
    margin-bottom: #{$i}px;
  }
}
  
@mixin ml($i, $media: null) {
  @include mediaOrNot($media) {
    margin-left: #{$i}px;
  }
}
  
@mixin pt($i, $media: null) {
  @include mediaOrNot($media) {
    padding-top: #{$i}px;
  }
}
  
@mixin pr($i, $media: null) {
  @include mediaOrNot($media) {
    padding-right: #{$i}px;
  }
}
  
@mixin pb($i, $media: null) {
  @include mediaOrNot($media) {
    padding-bottom: #{$i}px;
  }
}
  
@mixin pl($i, $media: null) {
  @include mediaOrNot($media) {
    padding-left: #{$i}px;
  }
}