$tablet-max: 768px;
$phone-max: 544px;
$tablet-min: $phone-max + 1;
$desktop-min: $tablet-max + 1;

$only-desktop: "screen and (min-width : " + $desktop-min + ")";
$only-tablet: "screen and (min-width: " + $tablet-min + ") and (max-width: " + $tablet-max+ ")";
$only-phone: "screen and (max-width : " + $phone-max + ")";
$desktop-and-tablet: "screen and (min-width: " + $tablet-min + ")";
$phone-and-tablet: "screen and (max-width : " + $tablet-max + ")";

$desktop-prefix: "des-";
$tablet-prefix: "tab-";
$phone-prefix: "mob-";

@mixin mediaOrNot($media: null) {
  @if ($media) {
    @media #{$media} {
      @content;
    }
  }
  @else {
    @content;
  }
}

@mixin desktop($append) {
  @media #{$phone-and-tablet} {
    display: none $append;
  }
}

@mixin desktop-tablet($append) {
  @media #{$only-phone} {
    display: none $append;
  }
}

@mixin mobile($append) {
  @media #{$desktop-and-tablet} {
    display: none $append;
  }
}

@mixin mobile-tablet($append) {
  @media #{$only-desktop} {
    display: none $append;
  }
}

@mixin tablet($append) {
  @include mobile-tablet($append);
  @include desktop-tablet($append);
}

@mixin horiz($media: null, $append: null) {
  @include mediaOrNot($media) {
    display: flex $append;
    flex-direction: row $append;
    flex-wrap: wrap $append;
    & > * {
      flex-shrink: 0 $append;
    }
  }
}

@mixin verti($media: null, $append: null) {
  @include mediaOrNot($media) {
    display: flex $append;
    flex-direction: column $append;
    & > * {
      flex-shrink: 0 $append;
    }
  }
}

@mixin nowrap($media: null, $append: null) {
  @include mediaOrNot($media) {
    flex-wrap: nowrap $append;
  }
}

@mixin items-start($media: null, $append: null) {
  @include mediaOrNot($media) {
      display: flex $append;
      justify-content: flex-start $append;
      align-items: flex-start $append;
  }
}

@mixin items-start-center($media: null, $append: null) {
  @include mediaOrNot($media) {
      display: flex $append;
      justify-content: flex-start $append;
      align-items: center $append;
  }
}

@mixin items-start-end($media: null, $append: null) {
  @include mediaOrNot($media) {
    display: flex $append;
    justify-content: flex-start $append;
    align-items: flex-end $append;
  }
}

@mixin items-center-start($media: null, $append: null) {
  @include mediaOrNot($media) {
    display: flex $append;
    justify-content: center $append;
    align-items: flex-start $append;
  }
}

@mixin items-center($media: null, $append: null) {
  @include mediaOrNot($media) {
      display: flex $append;
      justify-content: center $append;
      align-items: center $append;
  }
}

@mixin items-center-end($media: null, $append: null) {
  @include mediaOrNot($media) {
    display: flex $append;
    justify-content: center $append;
    align-items: flex-end $append;
  }
}

@mixin items-end-start($media: null, $append: null) {
  @include mediaOrNot($media) {
    display: flex $append;
    justify-content: flex-end $append;
    align-items: flex-start $append;
  }
}

@mixin items-end-center($media: null, $append: null) {
  @include mediaOrNot($media) {
    display: flex $append;
    justify-content: flex-end $append;
    align-items: center $append;
  }
}

@mixin items-end($media: null, $append: null) {
  @include mediaOrNot($media) {
      display: flex $append;
      justify-content: flex-end $append;
      align-items: flex-end $append;
  }
}

@mixin items-space-around($media: null, $append: null) {
  @include mediaOrNot($media) {
      display: flex $append;
      justify-content: space-around $append;
  }
}

@mixin items-space-between($media: null, $append: null) {
  @include mediaOrNot($media) {
      display: flex $append;
      justify-content: space-between $append;
  }
}

@mixin self-start($media: null, $append: null) {
  @include mediaOrNot($media) {
    align-self: flex-start $append;
  }
}

@mixin self-end($media: null, $append: null) {
  @include mediaOrNot($media) {
    align-self: flex-end $append;
  }
}

@mixin self-center($media: null, $append: null) {
  @include mediaOrNot($media) {
    align-self: center $append;
  }
}

@mixin self-baseline($media: null, $append: null) {
  @include mediaOrNot($media) {
    align-self: baseline $append;
  }
}

@mixin w-auto($media: null, $append: null) {
  @include mediaOrNot($media) {
    display: inline-block $append;
  }
}

@mixin h-auto($media: null, $append: null) {
  @include mediaOrNot($media) {
    flex-basis: auto $append;
  }
}

@mixin text-center($media: null, $append: null) {
  @include mediaOrNot($media) {
    text-align: center $append;
  }
}

@mixin text-left($media: null, $append: null) {
  @include mediaOrNot($media) {
    text-align: left $append;
  }
}

@mixin text-right($media: null, $append: null) {
  @include mediaOrNot($media) {
    text-align: right $append;
  }
}

@mixin text-justify($media: null, $append: null) {
  @include mediaOrNot($media) {
    text-align: justify $append;
  }
}

@mixin scroll($media: null, $append: null) {
  @include mediaOrNot($media) {
    overflow: scroll $append;
  }
}

@mixin x-scroll($media: null, $append: null) {
  @include mediaOrNot($media) {
    overflow-x: auto $append;
    overflow-y: hidden $append;
  }
}

@mixin y-scroll($media: null, $append: null) {
  @include mediaOrNot($media) {
    overflow-y: auto $append;
    overflow-x: hidden $append;
  }
}

@mixin truncate($media: null, $append: null) {
  @include mediaOrNot($media) {
    white-space: nowrap $append;
    overflow: hidden $append;
    text-overflow: ellipsis $append;
  }
}

@mixin relative($media: null, $append: null) {
  @include mediaOrNot($media) {
    position: relative $append;
    width: 0 $append;
    height: 0 $append;
    
    > * {
      position: absolute $append;
    }
  }
}

@mixin absolute($media: null, $append: null) {
  @include mediaOrNot($media) {
    position: absolute $append;
  }
}

@mixin fixed($media: null, $append: null) {
  @include mediaOrNot($media) {
    position: fixed $append;
  }
}

@mixin w-window($media: null, $append: null) {
  @include mediaOrNot($media) {
    width: 100vw $append;
  }
}

@mixin h-window($media: null, $append: null) {
  @include mediaOrNot($media) {
    height: 100vh $append;
  }
}

@mixin min-w-window($media: null, $append: null) {
  @include mediaOrNot($media) {
    min-width: 100vw $append;
  }
}

@mixin min-h-window($media: null, $append: null) {
  @include mediaOrNot($media) {
    min-height: 100vh $append;
  }
}

@mixin w-full($media: null, $append: null) {
  @include mediaOrNot($media) {
    width: 100% $append;
  }
}

@mixin h-full($media: null, $append: null) {
  @include mediaOrNot($media) {
    height: 100% $append;
  }
}








@mixin weight($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    flex-grow: $i $append;
    flex-shrink: unset $append;
    flex-basis: 0 $append;
  }
}
  
@mixin w($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    width: #{$i}px $append;
  }
}
  
@mixin h($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    height: #{$i}px $append;
  }
}
  
@mixin max-w($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    max-width: #{$i}px $append;
  }
}
  
@mixin max-h($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    max-height: #{$i}px $append;
  }
}
  
@mixin min-w($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    min-width: #{$i}px $append;
  }
}
  
@mixin min-h($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    min-height: #{$i}px $append;
  }
}
  
@mixin m($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    margin: #{$i}px $append;
  }
}
  
@mixin p($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    padding: #{$i}px $append;
  }
}
  
@mixin top($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    top: #{$i}px $append;
  }
}
  
@mixin right($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    right: #{$i}px $append;
  }
}
  
@mixin bottom($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    bottom: #{$i}px $append;
  }
}
  
@mixin left($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    left: #{$i}px $append;
  }
}
  
@mixin line-h($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    line-height: #{$i}px $append;
  }
}

@mixin x-gutter($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    > *:not(:last-child) {
      margin-right: #{$i}px $append;
    }
  }
}

@mixin y-gutter($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    > *:not(:last-child) {
      margin-bottom: #{$i}px $append;
    }
  }
}

@mixin items-mb($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    > * {
      margin-bottom: #{$i}px $append;
    }
  }
}







@mixin mx($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    margin-left: #{$i}px $append;
    margin-right: #{$i}px $append;
  }
}
  
@mixin my($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    margin-top: #{$i}px $append;
    margin-bottom: #{$i}px $append;
  }
}
  
@mixin px($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    padding-left: #{$i}px $append;
    padding-right: #{$i}px $append;
  }
}
  
@mixin py($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    padding-top: #{$i}px $append;
    padding-bottom: #{$i}px $append;
  }
}







@mixin mt($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    margin-top: #{$i}px $append;
  }
}
  
@mixin mr($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    margin-right: #{$i}px $append;
  }
}
  
@mixin mb($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    margin-bottom: #{$i}px $append;
  }
}
  
@mixin ml($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    margin-left: #{$i}px $append;
  }
}
  
@mixin pt($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    padding-top: #{$i}px $append;
  }
}
  
@mixin pr($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    padding-right: #{$i}px $append;
  }
}
  
@mixin pb($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    padding-bottom: #{$i}px $append;
  }
}
  
@mixin pl($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    padding-left: #{$i}px $append;
  }
}

@mixin f-bold($media: null, $append: null) {
  @include mediaOrNot($media) {
    font-weight: bold $append;
  }
}

@mixin f-normal($media: null, $append: null) {
  @include mediaOrNot($media) {
    font-weight: normal $append;
  }
}

@mixin ff($name, $media: null, $append: null) {
  @include mediaOrNot($media) {
    font-family: $name $append;
  }
}

@mixin fs($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    font-size: #{$i}px $append;
  }
}

@mixin z($i, $media: null, $append: null) {
  @include mediaOrNot($media) {
    z-index: #{$i} $append;
  }
}